---
import Layout from "../layouts/Layout.astro";
import Title from "../components/HeaderTitle.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionItems from "../components/SectionItems.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import img1 from "../../public/images/champloo.jpg";
---

<script is:inline>
	function openModal(src) {
		const modal = document.getElementById("imageModal");
		const modalImage = document.getElementById("modalImage");

		modalImage.src = src;
		modal.classList.remove("hidden");
	}

	function closeModal() {
		const modal = document.getElementById("imageModal");
		modal.classList.add("hidden");
	}
</script>

<Layout>
	<div class="relative h-[20vh] lg:h-[30vh] mb-8 mt-20 md:mt-28">
		<!-- Video como fondo -->
		<video
			class="h-[20vh] lg:h-[30vh] w-full object-cover rounded-md filter brightness-90"
			autoplay
			muted
			loop
		>
			<source src="/media/video.mp4" type="video/mp4" />
			Tu navegador no soporta videos HTML5.
		</video>

		<!-- Contenido encima del video -->
		<div class="absolute top-0 flex justify-center flex-col w-full h-full">
			<Title title="Blanca Miguel" class="text-clamp" />
			<div
				class="flex flex-col items-center lg:flex-row lg:justify-center lg:gap-12"
			>
			</div>
		</div>
	</div>
	<Section>
		<SectionTitle title="PRENSA" />
		<SectionItems styles="grid grid-cols-3 gap-2 rounded-md">
			<img
				class="rounded-md overflow-hidden cursor-pointer hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				src="https://placecats.com/neo/400/200"
				alt="Img 2"
				onclick="openModal(this.src)"
			/>
			<img
				class="rounded-md overflow-hidden cursor-pointer hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				src="https://placecats.com/millie/400/200"
				alt="Img 1"
				onclick="openModal(this.src)"
			/>
			<img
				class="rounded-md overflow-hidden cursor-pointer hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				src="https://placecats.com/bella/400/200"
				alt="Img 3"
				onclick="openModal(this.src)"
			/>
			<img
				class="rounded-md overflow-hidden cursor-pointer hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				src="https://placecats.com/poppy/400/600"
				alt="Img 4"
				onclick="openModal(this.src)"
			/>
			<img
				class="rounded-md overflow-hidden cursor-pointer hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				src="https://placecats.com/louie/400/600"
				alt="Img 5"
				onclick="openModal(this.src)"
			/>
			<img
				class="rounded-md overflow-hidden cursor-pointer hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				src="https://placecats.com/millie_neo/400/600"
				alt="Img 6"
				onclick="openModal(this.src)"
			/>
		</SectionItems>
	</Section>
	<Section>
		<SectionTitle title="ALFOMBRA" />
		<SectionItems
			styles="grid grid-cols-3 grid-rows-2 gap-2 rounded-md max-h-[600px]"
		>
			<Image
				src={img1}
				class="col-span-1 row-span-1 object-cover h-full w-full rounded-md cursor-pointer overflow-hidden hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				alt="Img 1"
				onclick="openModal(this.src)"
			/>
			<Image
				src={img1}
				class="col-span-2 row-span-1 object-cover h-full w-full rounded-md cursor-pointer overflow-hidden hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				alt="Img 1"
				onclick="openModal(this.src)"
			/>
			<Image
				src={img1}
				class="col-span-1 row-span-1 object-cover h-full w-full rounded-md cursor-pointer overflow-hidden hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				alt="Img 1"
				onclick="openModal(this.src)"
			/>
			<Image
				src={img1}
				class="col-span-2 row-span-1 object-cover h-full w-full rounded-md cursor-pointer overflow-hidden hover:inset-1 hover:outline hover:outline-4 hover:outline-black"
				alt="Img 1"
				onclick="openModal(this.src)"
			/>
		</SectionItems>
	</Section>
	<!-- <Section>
		<SectionTitle title="EDITORIAL" />
		<SectionItems>
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
		</SectionItems>
	</Section>
	<Section>
		<SectionTitle title="VIDEOCLIP" />
		<SectionItems>
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
		</SectionItems>
	</Section> -->
	<!-- Modal -->
	<div
		id="imageModal"
		class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden px-4"
		onclick="closeModal()"
	>
		<img
			id="modalImage"
			class="max-w-full max-h-full rounded-lg"
			alt="Expanded view"
		/>
	</div>
</Layout>

<style>
	/* Opcional: Para evitar desplazamientos cuando el modal está abierto */
	.hidden {
		display: none;
	}
</style>
