---
import Layout from "../layouts/Layout.astro";
import Title from "../components/HeaderTitle.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionItems from "../components/SectionItems.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<Layout>
	<div class="relative h-[30vh] mb-8 mt-24">
		<!-- Video como fondo -->
		<video
			class="h-[30vh] w-full object-cover opacity-40 rounded-md"
			autoplay
			muted
			loop
		>
			<source src="src/media/video.mp4" type="video/mp4" />
			Tu navegador no soporta videos HTML5.
		</video>

		<!-- Contenido encima del video -->
		<div class="absolute top-0 flex justify-center flex-col w-full h-full">
			<Title title="Blanca Miguel Villarmin" />
			<div class="flex justify-center gap-12">
				<a
					href="tel:+34686634972"
					class="flex items-center gap-2 hover:underline"
				>
					<Icon name="phone" /> +34 686634972
				</a>
				<a
					href="mailto:blanca.mvillarmin@gmail.com"
					class="flex items-center gap-2 hover:underline"
				>
					<Icon name="email" /> blanca.mvillarmin@gmail.com
				</a>
				<a
					href="https://instagram.com/blancamiguel.makeup"
					target="_blank"
					class="flex items-center gap-2 hover:underline"
				>
					<Icon name="instagram" /> blancamiguel.makeup
				</a>
			</div>
		</div>
	</div>
	<section
		class="flex flex-col h-[20vh] items-center justify-center bg-gray-100 text-gray-800 relative rounded-md"
	>
		<div class="text-center">
			<h1 class="text-4xl sm:text-6xl font-bold mb-4">Algunos proyectos</h1>
			<p class="text-xl sm:text-2xl font-semibold uppercase tracking-wide">
				que me enorgullecen
			</p>
		</div>
		<div class="absolute top-4 left-4">
			<!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
			<svg
				width="5rem"
				height="5rem"
				viewBox="0 0 15 15"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M9.87737 3H9.9H11.5C11.7761 3 12 3.22386 12 3.5C12 3.77614 11.7761 4 11.5 4H9.9C8.77164 4 7.95545 4.00039 7.31352 4.05284C6.67744 4.10481 6.25662 4.20539 5.91103 4.38148C5.25247 4.71703 4.71703 5.25247 4.38148 5.91103C4.20539 6.25662 4.10481 6.67744 4.05284 7.31352C4.00039 7.95545 4 8.77164 4 9.9V11.5C4 11.7761 3.77614 12 3.5 12C3.22386 12 3 11.7761 3 11.5V9.9V9.87737C3 8.77641 3 7.91948 3.05616 7.23209C3.11318 6.53416 3.23058 5.9671 3.49047 5.45704C3.9219 4.61031 4.61031 3.9219 5.45704 3.49047C5.9671 3.23058 6.53416 3.11318 7.23209 3.05616C7.91948 3 8.77641 3 9.87737 3Z"
					fill="#000000"></path>
			</svg>
		</div>
		<div class="absolute bottom-4 right-4">
			<!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
			<svg
				width="5rem"
				height="5rem"
				viewBox="0 0 15 15"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M5.12263 12H5.1H3.5C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H5.1C6.22836 11 7.04455 10.9996 7.68648 10.9472C8.32256 10.8952 8.74338 10.7946 9.08897 10.6185C9.74753 10.283 10.283 9.74753 10.6185 9.08897C10.7946 8.74338 10.8952 8.32256 10.9472 7.68648C10.9996 7.04455 11 6.22836 11 5.1V3.5C11 3.22386 11.2239 3 11.5 3C11.7761 3 12 3.22386 12 3.5V5.1V5.12263C12 6.22359 12 7.08052 11.9438 7.76791C11.8868 8.46584 11.7694 9.0329 11.5095 9.54296C11.0781 10.3897 10.3897 11.0781 9.54296 11.5095C9.0329 11.7694 8.46584 11.8868 7.76791 11.9438C7.08052 12 6.22359 12 5.12263 12Z"
					fill="#000000"></path>
			</svg>
		</div>
	</section>
	<Section>
		<SectionTitle title="PRENSA" />
		<SectionItems styles="grid grid-cols-3 gap-2 rounded-md">
			<img
				class="rounded-md overflow-hidden"
				src="https://placecats.com/neo/400/200"
				alt="Img 2"
			/>
			<img
				class="rounded-md overflow-hidden"
				src="https://placecats.com/millie/400/200"
				alt="Img 1"
			/>
			<img
				class="rounded-md overflow-hidden"
				src="https://placecats.com/bella/400/200"
				alt="Img 3"
			/>
			<img
				class="rounded-md overflow-hidden"
				src="https://placecats.com/poppy/400/600"
				alt="Img 4"
			/>
			<img
				class="rounded-md overflow-hidden"
				src="https://placecats.com/louie/400/600"
				alt="Img 5"
			/>
			<img
				class="rounded-md overflow-hidden"
				src="https://placecats.com/millie_neo/400/600"
				alt="Img 6"
			/>
		</SectionItems>
	</Section>
	<Section>
		<SectionTitle title="ALFOMBRA" />
		<SectionItems
			styles="grid grid-cols-3 grid-rows-2 gap-2 rounded-md max-h-[600px]"
		>
			<img
				class="col-span-1 row-span-1 object-cover h-full w-full"
				src="src/icons/champloo.jpg"
				alt="Img 1"
			/>
			<img
				class="col-span-2 row-span-1 object-cover h-full w-full"
				src="src/icons/champloo.jpg"
				alt="Img 1"
			/>
			<img
				class="col-span-1 row-span-1 object-cover h-full w-full"
				src="src/icons/champloo.jpg"
				alt="Img 1"
			/>
			<img
				class="col-span-2 row-span-1 object-cover h-full w-full"
				src="src/icons/champloo.jpg"
				alt="Img 1"
			/>
		</SectionItems>
	</Section>
	<!-- <Section>
		<SectionTitle title="EDITORIAL" />
		<SectionItems>
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
		</SectionItems>
	</Section>
	<Section>
		<SectionTitle title="VIDEOCLIP" />
		<SectionItems>
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
			<img src="https://placecats.com/400/600" alt="Img 1" />
			<img src="https://placecats.com/neo/400/600" alt="Img 2" />
			<img src="https://placecats.com/bella/400/600" alt="Img 3" />
		</SectionItems>
	</Section> -->
	<section
		class="flex flex-col items-center justify-center h-[20vh] bg-gray-100 text-gray-800 relative rounded-md"
	>
		<div class="absolute top-4 left-4">
			<!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
			<svg
				width="5rem"
				height="5rem"
				viewBox="0 0 15 15"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M9.87737 3H9.9H11.5C11.7761 3 12 3.22386 12 3.5C12 3.77614 11.7761 4 11.5 4H9.9C8.77164 4 7.95545 4.00039 7.31352 4.05284C6.67744 4.10481 6.25662 4.20539 5.91103 4.38148C5.25247 4.71703 4.71703 5.25247 4.38148 5.91103C4.20539 6.25662 4.10481 6.67744 4.05284 7.31352C4.00039 7.95545 4 8.77164 4 9.9V11.5C4 11.7761 3.77614 12 3.5 12C3.22386 12 3 11.7761 3 11.5V9.9V9.87737C3 8.77641 3 7.91948 3.05616 7.23209C3.11318 6.53416 3.23058 5.9671 3.49047 5.45704C3.9219 4.61031 4.61031 3.9219 5.45704 3.49047C5.9671 3.23058 6.53416 3.11318 7.23209 3.05616C7.91948 3 8.77641 3 9.87737 3Z"
					fill="#000000"></path>
			</svg>
		</div>
		<div class="absolute bottom-4 right-4">
			<!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
			<svg
				width="5rem"
				height="5rem"
				viewBox="0 0 15 15"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M5.12263 12H5.1H3.5C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H5.1C6.22836 11 7.04455 10.9996 7.68648 10.9472C8.32256 10.8952 8.74338 10.7946 9.08897 10.6185C9.74753 10.283 10.283 9.74753 10.6185 9.08897C10.7946 8.74338 10.8952 8.32256 10.9472 7.68648C10.9996 7.04455 11 6.22836 11 5.1V3.5C11 3.22386 11.2239 3 11.5 3C11.7761 3 12 3.22386 12 3.5V5.1V5.12263C12 6.22359 12 7.08052 11.9438 7.76791C11.8868 8.46584 11.7694 9.0329 11.5095 9.54296C11.0781 10.3897 10.3897 11.0781 9.54296 11.5095C9.0329 11.7694 8.46584 11.8868 7.76791 11.9438C7.08052 12 6.22359 12 5.12263 12Z"
					fill="#000000"></path>
			</svg>
		</div>
		<div class="text-center">
			<h1 class="text-4xl sm:text-6xl font-bold mb-6">¡Trabajemos juntos!</h1>
			<div
				class="flex flex-col sm:flex-row items-center justify-center gap-4 text-lg sm:text-xl font-light"
			>
				<a
					href="tel:+34686634972"
					class="flex items-center gap-2 hover:underline"
				>
					<Icon name="phone" /> +34 686634972
				</a>
				<a
					href="mailto:blanca.mvillarmin@gmail.com"
					class="flex items-center gap-2 hover:underline"
				>
					<Icon name="email" /> blanca.mvillarmin@gmail.com
				</a>
				<a
					href="https://instagram.com/blancamiguel.makeup"
					target="_blank"
					class="flex items-center gap-2 hover:underline"
				>
					<Icon name="instagram" /> blancamiguel.makeup
				</a>
			</div>
		</div>
		<!-- Esquinas decorativas -->
	</section>
</Layout>
