---
const { text } = Astro.props;
---

<div
	class="group relative bg-[url('../assets/images/makeup_01.jpg')] bg-contain bg-no-repeat rounded-xl shadow-xl hover:shadow-2xl w-96 h-48 border-2 border-white transition-all duration-300 overflow-hidden"
>
	<a href="/contacto" class="boton-reservar text-white text-base">
		<div
			class="absolute left-0 right-0 bottom-0 top-[calc(100%-3rem)] py-2 flex justify-center items-center bg-gray-900/50 backdrop-blur-sm rounded-b-xl transition-all duration-500 group-hover:top-0 group-hover:rounded-xl"
		>
			<span class="transition-all duration-300 group-hover:text-4xl"
				>{text}</span
			>
		</div>
	</a>
</div>
