---
const { styles } = Astro.props;
---

<div
	class:list={["max-w-6xl shadow-lg p-8 relative bg-white rounded-lg", styles]}
>
	<h2 class="text-xl text-gray-800 font-bold">Product or Service Inquiry</h2>

	<form class="mt-8 grid sm:grid-cols-2 gap-6">
		<div>
			<input
				type="text"
				placeholder="Nombre"
				class="w-full rounded-lg py-2.5 px-4 border border-gray-300 text-sm outline-[#FDD8DF]"
			/>
		</div>
		<div>
			<input
				required
				type="email"
				placeholder="Email"
				class="w-full rounded-lg py-2.5 px-4 border border-gray-300 text-sm outline-[#FDD8DF]"
			/>
		</div>
		<div>
			<input
				type="email"
				placeholder="Teléfono (Opcional)"
				class="w-full rounded-lg py-2.5 px-4 border border-gray-300 text-sm outline-[#FDD8DF]"
			/>
		</div>
		<div>
			<input
				type="text"
				placeholder="Company"
				class="w-full rounded-lg py-2.5 px-4 border border-gray-300 text-sm outline-[#FDD8DF]"
			/>
		</div>
		<div>
			<input
				type="text"
				placeholder="Asunto"
				class="w-full rounded-lg py-2.5 px-4 border border-gray-300 text-sm outline-[#FDD8DF]"
			/>
		</div>
		<div>
			<textarea
				placeholder="Message"
				rows="6"
				class="col-span-full w-full rounded-lg px-4 border border-gray-300 text-sm pt-3 outline-[#FDD8DF]"
			></textarea>
		</div>
		<div class="flex items-center col-span-full">
			<!-- <input id="checkbox1" type="checkbox" class="w-4 h-4 mr-3" />
			<label for="checkbox1" class="text-sm text-gray-400"
				>I agree to the <a href="javascript:void(0);" class="underline"
					>Terms and Conditions</a
				> and <a href="javascript:void(0);" class="underline">Privacy Policy</a
				></label
			> -->
		</div>

		<button
			type="button"
			class="text-black w-max bg-[#FDD8DF] hover:bg-[#D9A0D2] rounded-lg text-sm px-6 py-3 mt-4 tracking-wide"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16px"
				height="16px"
				fill="#000"
				class="mr-2 inline"
				viewBox="0 0 548.244 548.244"
			>
				<path
					fill-rule="evenodd"
					d="M392.19 156.054 211.268 281.667 22.032 218.58C8.823 214.168-.076 201.775 0 187.852c.077-13.923 9.078-26.24 22.338-30.498L506.15 1.549c11.5-3.697 24.123-.663 32.666 7.88 8.542 8.543 11.577 21.165 7.879 32.666L390.89 525.906c-4.258 13.26-16.575 22.261-30.498 22.338-13.923.076-26.316-8.823-30.728-22.032l-63.393-190.153z"
					clip-rule="evenodd"
					data-original="#000000"></path>
			</svg>
			Enviar
		</button>
	</form>
</div>
