<header class="flex flex-col gap-y-4">
	<div>
		<picture>
			<!-- versi贸n para pantallas grandes -->
			<source
				srcset="https://placecats.com/1440/600?fit=cover"
				media="(min-width: 1440px)"
			/>
			<!-- versi贸n para pantallas medianas -->
			<source
				srcset="https://placecats.com/600/300"
				media="(min-width: 600px)"
			/>
			<!-- versi贸n para m贸viles -->
			<img
				src="header-small.jpg"
				alt="Imagen de portada representando [tema de la web]"
			/>
		</picture>
	</div>
</header>
