---
const { title,id } = Astro.props;
---

<div id={`${id}`} class="component-section flex flex-col gap-y-4 my-4 scroll-mt-56 lg:scroll-mt-24">
	<h2
		class="text-white text-9xl lg:text-5xl font-extralight tracking-wide py-4 uppercase text-center"
	>
		{title}
	</h2>

	<slot />
</div>
<div
	class="w-full h-px my-12 bg-gradient-to-r from-transparent via-gray-400 to-transparent"
>
</div>
