---

---

<script>
	const menuButton = document.getElementById("menu-button");
	const menu = document.getElementById("menu");

	menuButton.addEventListener("click", () => {
		menu.classList.toggle("hidden");
		menu.classList.toggle("flex");
	});
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Blanca Miguel Villarmin</title>
	</head>
	<body>
		<header>
			<nav
				class="bg-gradient-to-r from-[#F9F5F6] via-[#F8E8EE] to-[#FDD8DF] py-2 px-4 lg:px-8 shadow-xl fixed w-full top-0 z-50"
			>
				<div class="flex items-center justify-between">
					<!-- Logo/Brand -->
					<div class="text-clamp font-serif text-[#242424] flex gap-2">
						🌸 <span class="font-bold text-[#D9A0D2]">Blanca</span> Makeup
					</div>

					<!-- Hamburger Menu -->
					<button
						id="menu-button"
						class="lg:hidden text-[#242424] focus:outline-none focus:ring-2 focus:ring-[#D9A0D2]"
						aria-label="Toggle Menu"
					>
						<svg
							class="w-6 h-6"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h16m-7 6h7"></path>
						</svg>
					</button>

					<!-- Navigation Links -->
					<ul
						id="menu"
						class="hidden lg:flex lg:space-x-8 lg:static lg:flex-row flex-col space-y-4 lg:space-y-0 lg:text-lg font-semibold text-[#242424] absolute top-[100%] left-0 bg-[#F9F5F6] w-full shadow-lg lg:shadow-none lg:bg-transparent lg:justify-end"
					>
						<li class="">
							<a
								href="#home"
								class="block lg:inline-block hover:text-[#D9A0D2] underline-expand relative"
							>
								Inicio
							</a>
						</li>
						<li class="">
							<a
								href="#projects"
								class="block lg:inline-block hover:text-[#D9A0D2] underline-expand relative"
							>
								Proyectos
							</a>
						</li>
						<li class="">
							<a
								href="#press"
								class="block lg:inline-block hover:text-[#D9A0D2] underline-expand relative"
							>
								Prensa
							</a>
						</li>
						<li class="">
							<a
								href="#contact"
								class="block lg:inline-block hover:text-[#D9A0D2] underline-expand relative"
							>
								Contacto
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
	:global(:root) {
		--font-family-sans: "Delius", cursive;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: var(--font-family-sans);
	}
	main {
		margin: 0 auto;
		max-width: 1280px;
		padding: 0 2rem;
	}

	.underline-expand::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 0;
		height: 2px;
		background-color: #d9a0d2; /* Color de la subrayado */
		transition:
			width 0.3s ease,
			left 0.3s ease;
	}

	.underline-expand:hover::before {
		width: 100%;
		left: 0;
	}
</style>
